<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yohomall.dao.OrdersMapper">

    
    <select id="getTotalRecord" resultType="int">
    	SELECT COUNT(*) FROM orders WHERE uid=#{uid}
    </select>
    
    <select id="getMyOrdersByPage" resultType="com.yohomall.pojo.Orders">
    	
    	SELECT * FROM orders WHERE uid=#{uid} ORDER BY time DESC LIMIT #{StartIndex},#{pageSize};
    
    </select>
    
    <select id="getMyOrderItem" resultType="com.yohomall.pojo.OrdersVo">
    
    SELECT oi.itemid,oi.pid,oi.oid,oi.quantity,oi.subtotal,p.image,p.pname,p.price,p.sellingprice FROM orderitem oi,products p 
    WHERE oi.pid = p.pid AND oi.oid =#{oid};
    
    </select>
    
    <select id="getByID" resultType="com.yohomall.pojo.Orders">
    
   		 SELECT * FROM orders where oid=#{oid}
    
    </select>
    

	<resultMap type="Orders" id="orders-result">
		<id property="oid" column="oid" />
		<result property="uid" column="uid"/>
		<result property="addr" column="addr" />
		<result property="aname" column="aname" />
		<result property="phone" column="phone" />
		<result property="total" column="total" />
		<result property="time" column="time" />
		<result property="status" column="status" />
		<association property="user" column="uid" javaType="User"
			resultMap="user-result" />
		<collection property="items" ofType="Item" resultMap="orderitem-result"></collection>
	</resultMap>
	
	<resultMap type="User" id="user-result">
		<id property="uid" column="uid" />
		<collection property="orders" ofType="Orders" resultMap="orders-result" />
	</resultMap>
	
	<resultMap type="Item" id="orderitem-result">
		<id property="oid" column="oid" />
		<id property="pid" column="pid" />
		<result property="quantity" column="quantity" />
		<association property="product" column="pid" resultMap="product-result"></association>
		<!-- <collection property="product" ofType="Product" resultMap="product-result" /> -->
	</resultMap>
	
	<resultMap type="Product" id="product-result">
		<id property="pid" column="pid" />
		 <result property="pname" column="pname" /> 
		<!-- <collection property="items" ofType="Item" resultMap="orderitem-result"/> -->
	</resultMap>
	
	<select id="findById" resultMap="orders-result">
	    select o.*, p.*,m.*  from orderitem m
		left join orders o on m.oid = o.oid
		left join products p on m.pid = p.pid
		where o.oid=#{oid}
	</select>

</mapper>
