<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD 
	SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd"> <sqlMap namespace="test"> 
	<typeAlias alias="User" type="com.pojo.User"/> <typeAlias alias="Book" type="com.pojo.Book"/> 
	<resultMap id="BookResult" class="Book"> <result property="oid" column="oid"/> 
	<result property="name" column="name"/> <result property="users" column="oid" 
	select="getUsersByBookId"/> </resultMap> -->
<!-- ibatis延迟加载配置 -->

<mapper namespace="orderitem">

<!-- 键值说明 -->
	<resultMap type="ordResultMap" id="Orderitem">
		<id property="pid" column="pid" javaType="int" jdbcType="INTEGER" />
		<result property="oid" column="oid" javaType="int" jdbcType="INTEGER" />
		<result property="quantity" column="quantity" javaType="int"
			jdbcType="INTEGER" />
		<collection property="products" column="productpid" ofType="Product">
			<id property="pid" column="pid" javaType="int" jdbcType="INTEGER" />
			<result property="image" column="image" javaType="String"
				jdbcType="VARCHAR" />
			<result property="pname" column="pname" javaType="String"
				jdbcType="VARCHAR" />
			<result property="price" column="price" javaType="BigDecimal"
				jdbcType="DECIMAL" />
			<result property="sellingprice" column="sellingprice"
				javaType="BigDecimal" jdbcType="DECIMAL" />
			<result property="sex" column="sex" javaType="int" jdbcType="INTEGER" />
		</collection>
	</resultMap>
    <select id="findOneSales" parameterType="int" resultType="com.yohomall.pojo.Porduct">
       SELECT p.*,
       o.oid,o.quantity FROM PRODUCTS p LEFT JOIN
       ORDERITEM o ON p.pid=o.pid
       HAVING p.pid=#{pid}
       
    </select>
</mapper>
